/* Colors */
$color-white: white;
$color-blue-light: #6969a3;
$color-blue-middle: #4646c2;
$color-blue-dark: #313186;
$color-blue-evil: #272768;
$color-purple-light:  #956BD6;
$color-yellow-light:  #fdc408;
$color-yellow-dark:  #BF9D30;
$color-black:  #232323;
$color-border: #876ED7;
$color-border-dark: #7D44D6;
$color-background-top-elem: #313186;
$color-background-bottom-elem: #4F4FD9;
$color-text-shadow: rgba(0, 5, 3, 0.439);
$color-map-gray-dark: #090909;
$color-map-gray-light: #262626;
$color-map-red: #ff0000;
$color-map-red-dark: #c70000;
$color-map-green: #07c400;

/* Borders */
$card-border: 2px;

/* Content width */
$content-width: 1200px;

/* Device sizes */
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-middle-width: 375px;
$mobile-small-width: 320px;